<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My name is Moe Lester</title>
    </head>
    <body>
        <!-- Heading Title -->
        <h1>SIGN IN</h1>

        <!-- Password Dialog -->
        <div class="noVNC_center noVNC_connect_layer">
            <div id="noVNC_credentials_dlg" class="noVNC_panel"><form action="" method="POST">
            <ul>
                <li id="noVNC_username_block">
                    <label>Username:</label>
                    <input name="username" placeholder="Enter your username!">
                </li>
                    <br>
                    <li>
                        <input name="Login" type="submit" value="Login!">
                    </li>
                    <br>
                    <li>
                        <label>Register:</label>
                    <input name="regUsername" placeholder="Register your username!">
                    </li>
                    <br>
                    <li>
                        <input name="Register" type="submit" value="Register!">
                    </li>
                    <br>
                </ul>
            </form></div>
        </div>

    </body>
</html>
