<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My name is Moe Lester</title>
</head>
<body>



    <!-- Heading Title -->
    <h1>
        SIGN IN
    </h1>


    <!-- Password Dialog -->
    <div class="noVNC_center noVNC_connect_layer">
    <div id="noVNC_credentials_dlg" class="noVNC_panel"><form action="" method="POST">
        <ul>
            <li id="noVNC_username_block">
                <label>Username:</label>
                <input id="noVNC_username_input" placeholder="Enter your username!">
            </li>
            <br>
            <li>
                <input id="noVNC_credentials_button" type="submit" value="Login!" class="noVNC_submit">
            </li>
            <br>
            <li>
                <input id="noVNC_registration_button" type="submit" value="Register" class="noVNC_register">
            </li>
        </ul>
    </form></div>
    </div>

</body>
</html>